<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="OneBranch-Consumption" value="https://pkgs.dev.azure.com/msazure/One/_packaging/OneBranch-Consumption/nuget/v3/index.json" />
    </packageSources>

    <disabledPackageSources>
        <clear />
    </disabledPackageSources>

    <config>
        <add key="repositoryPath" value="packages" />
        <add key="globalPackagesFolder" value="packages" />
    </config>

    <!-- Prevent nuget from using packages from a globally defined fallback folder -->
    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders> 
</configuration>